<br><h1>User HomePage</h1>

<% if current_user.reservations.empty? %>
  <p>You currently don't have any reservations</p>
  <%= link_to "Make a reservation", restaurants_path %>
<% else %>  
  <%= current_user.reservations.each do |reservation| %>

    <%# need to add reservation time %>

    <%= reservation[:party_size] %>
    <p>____________________________________________</p>
    <%= link_to "Add another reservation", restaurants_path %>
  <% end %>
<% end %>