<br><h1>Website HomePage</h1>

<div class = "index-restaurants" style = "text-align: center">
  <h2>Restaurants open for reservation</h2>
  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to restaurant[:name], restaurant_path(restaurant) %></h3>
  <% end %>
</div>